= form_for @offering, :html => {:class => 'full_form'} do |f|
  - if @offering.errors.any?
    #error_explanation
      %h2= "#{pluralize(@offering.errors.count, "error")} prohibited this offering from being saved:"
      %ul
        - @offering.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    %label Service
    I am
    = f.text_field :actionable_name, :class => 'form-control'
  .form-group
    %label Category
    = f.select :category_id, Category.all.collect { |c| [c.name, c.id] }, {}, :class => 'select2'
  .form-group
    %label Description
    = f.text_area :description, :class => 'redactor'
  .form-group
    %label Price Structure
    - if @offering.prices.any?
      = f.fields_for :prices do |builder|
        = render 'price_fields', :f => builder
    - else
      %p.free Free
    = link_to_add_fields '<i class="fa fa-plus"></i> Add Pricing'.html_safe, f, :prices
  .form-group
    %label Promotions
    Coming soon.
  .actions
    = f.submit 'Save', :class => 'btn btn-primary'
