.second_nav
  .container Edit Listing: {{offering.actionable_name}}
.section.edit_offering
  .container

    = form_for @offering do |f|
      .row
        .col-sm-4.nav-col
          %ul.nav.nav-pills.nav-stacked
            %li{':class' => '{active: section=="basics"}'}
              = link_to 'Basics', '#', :'@click.prevent' => '$set("section", "basics")'
            %li{':class' => '{active: section=="description"}'}
              = link_to 'Description', '#', :'@click.prevent' => '$set("section", "description")'
            %li{':class' => '{active: section=="images"}'}
              = link_to 'Images', '#', :'@click.prevent' => '$set("section", "images")'
            %li{':class' => '{active: section=="availability"}'}
              = link_to 'Availability', '#', :'@click.prevent' => '$set("section", "availability")'
            %li{':class' => '{active: section=="pricing"}'}
              = link_to 'Pricing', '#', :'@click.prevent' => '$set("section", "pricing")'
            %li{':class' => '{active: section=="escrow"}'}
              = link_to 'Escrow Infos', '#', :'@click.prevent' => '$set("section", "escrow")'
        .col-sm-8(v-show="section=='basics'")
          %h1 Basics
          .form-group
            %label Name
            = f.text_field :actionable_name,
              :class => 'form-control',
              'v-model' => 'offering.actionable_name'

        .col-sm-8(v-show="section=='description'")
          %h1 Description
          .form-group
            %label English
            = f.text_area :description, :class => 'redactor'

        .col-sm-8(v-show="section=='images'")
          %h1 Images
          .form-group
            = f.image_upload_field :image

        .col-sm-8(v-show="section=='availability'")
          %h1 Availability
          .radio
            %label.big_option.active
              %input(type="radio" checked)
              %strong Always Inquire
              %p Before accepting payment, I want to be notified and approve booking offers by myself.
          (more options coming soon)
        .col-sm-8(v-show="section=='pricing'")
          %h1 Pricing
          .radio
            %label.big_option.active
              %input(type="radio" checked)
              %strong Flexible
              %p Rates &amp; Fees can be negotiated for each booking.
          (more options coming soon)
        .col-sm-8(v-show="section=='escrow'")
          %h1 Escrow Information
          %p 
            This information is kept confidential and will be made available to the payer after payment has been confirmed.
            Please include contact details such as phone numbers, email addresses, etc.
          .form-group
            %label English
            = f.text_area :escrow_notes,
              :placeholder => "Phone:\nEmail:",
              :class => 'form-control',
              'v-model' => 'offering.escrow_notes'
          

      .actions
        = f.submit "All good. Save changes.",
          :'v-bind:disabled' => '!offeringValid()',
          :class => 'btn btn-lg btn-primary'
:coffee
  new Vue
    el: 'body'
    data:
      section: 'basics'
      offering: #{@offering.to_json}
    methods:
      offeringValid: ->
        return false unless this.$get('offering.actionable_name')
        return false unless this.$get('offering.escrow_notes')
        true
    ready: ->
      this.$expose 'section', 'section'
