.second_nav
  .container Edit Listing: {{offering.actionable_name}}
.section.edit_offering
  .container

    = form_for @offering do |f|
      .row
        .col-sm-3.nav-col
          %ul.nav.nav-pills.nav-stacked
            %li{':class' => '{active: section=="basics"}'}
              = link_to 'Basics', '#', :'@click.prevent' => '$set("section", "basics")'
            %li{':class' => '{active: section=="description"}'}
              = link_to 'Description', '#', :'@click.prevent' => '$set("section", "description")'
            %li{':class' => '{active: section=="images"}'}
              = link_to 'Images', '#', :'@click.prevent' => '$set("section", "images")'
            %li{':class' => '{active: section=="availability"}'}
              = link_to 'Availability', '#', :'@click.prevent' => '$set("section", "availability")'
            %li{':class' => '{active: section=="pricing"}'}
              = link_to 'Pricing', '#', :'@click.prevent' => '$set("section", "pricing")'
            %li{':class' => '{active: section=="escrow"}'}
              = link_to 'Escrow Infos', '#', :'@click.prevent' => '$set("section", "escrow")'
        .col-sm-9(v-show="section=='basics'")
          %h1 Basics
          .form-group
            %label Name
            = f.text_field :actionable_name,
              :class => 'form-control',
              'v-model' => 'offering.actionable_name'
          - if current_user.superpowers?
            .form-group
              %label Managed
              = f.check_box :managed, 'v-model' => 'offering.managed'
            .form-group{'v-if' => 'offering.managed'}
              %label Management Name
              = f.text_field :management_name, :class => 'form-control',
                'v-model' => 'offering.management_name'
            .form-group{'v-if' => 'offering.managed'}
              %label Management Email
              = f.text_field :management_email, :class => 'form-control',
                'v-model' => 'offering.management_email'
            .form-group{'v-if' => 'offering.managed'}
              %label Management Profile Image
              = f.image_upload_field :management_image
              
          %p
            = link_to t("Delete #{@offering.actionable_name}"), @offering, :method => 'delete', 'data-confirm' => "Are you sure you want to delete #{@offering.actionable_name}?"
          %p
            = link_to t("Disconnect #{@offering.actionable_name}"), offering_path(@offering, :offering => { :disconnect => true }), :method => 'put', 'data-confirm' => "Disconnect #{@offering.actionable_name} from your account?"

        .col-sm-9(v-show="section=='description'")
          %h1 Description
          .form-group
            
            = f.translated_text_area :description

        .col-sm-9(v-show="section=='images'")
          .form-grid
            .header
              %h1 Images
              %p Choose some images that showcase the #{@offering.category_id}.
            .row
              .col-xs-3
                Listing Image
              .col-xs-9
                = f.image_upload_field :image
            .row
              .col-xs-3
                Logo
              .col-xs-9
                = f.image_upload_field :logo_image
            .row
              .col-xs-3
                Gallery
              .col-xs-9
                = render 'uploads/edit_gallery', :attachable => @offering
            .row
              .col-xs-3
                YouTube Video
              .col-xs-9
                = f.text_field :promo_video_url, :class => 'form-control'

        .col-sm-9(v-show="section=='availability'")
          %h1 Availability
          .radio
            %label.big_option.active
              %input(type="radio" checked)
              %strong Always Confirm
              %p Before accepting payment, I want to be notified and confirm booking offers by myself.
          (more options coming soon)
        .col-sm-9(v-show="section=='pricing'")
          %h1 Pricing
          .radio
            %label.big_option.active
              %input(type="radio" checked)
              %strong Flexible
              %p Rates &amp; Fees can be negotiated for each booking.
          (more options coming soon)
        .col-sm-9(v-show="section=='escrow'")
          %h1 Escrow Information
          %p 
            =t('.escrow')
          .form-group
            %label English
            = f.text_area :escrow_notes,
              :placeholder => "Phone:\nEmail:",
              :class => 'form-control',
              'v-model' => 'offering.escrow_notes'
          

      .actions
        = f.submit "All good. Save changes.",
          :'v-bind:disabled' => '!offeringValid()',
          :class => 'btn btn-lg btn-primary'
:coffee
  new Vue
    el: 'body'
    data:
      section: 'basics'
      offering: #{@offering.to_json}
    methods:
      offeringValid: ->
        return false unless this.$get('offering.actionable_name')
        if this.$get('offering.managed')
          return false unless this.$get('offering.management_name')
          return false unless this.$get('offering.management_email')
        # return false unless this.$get('offering.escrow_notes')
        true
    ready: ->
      this.$expose 'section', 'section'
