.section.offering_hero
  - if @offering.image
    .superhero{:style => "background-image: url('#{@offering.image.thumb('1280x>').url}')"}
  - else
    .superhero
  - if @offering.iframe_video_url
    .video_button
      %i.fa.fa-play-circle-o
    .video_iframe
      .box
        %iframe{"data-src" => @offering.iframe_video_url}
    
    :coffee
      $('.video_button').click ->
        $('.video_button').hide()
        $('.video_iframe').show()
        $('.video_iframe iframe').attr('src', $('.video_iframe iframe').data('src'))
        $('.hero_name').addClass('small')

  .hero_name= @offering.actionable_name
- if !@offering.approved_at
  .second_nav
    .container
      NOTE: This listing is not approved and won't be published in search results.
      - if current_user&.superpowers?
        = link_to 'Approve now', params.merge('offering[approve]' => true), :method => 'put', :class => 'btn btn-primary'
.section.offering_detail
  .container
    .row
      .col-sm-8
        .user_info
          .profile_circle
            = image_tag @offering.profile_image.thumb('100x100#').url
          .name= @offering.actionable_name
          .user by #{link_to @offering.user.display_name, @offering.user}
        .clearfix
        .description
          = sanitize @offering.description
        
        - if @offering.public_images.any?
          #lightgallery
            - @offering.public_images.take(8).each do |image|
              = link_to image_tag(image.file.thumb('128x100#').url),
                image.file.thumb('1280x>').url, 'data-src' => image.file.thumb('1280x>').url
              
          :coffee
            $('#lightgallery').lightGallery(thumbnail: true)
      .col-sm-4.booking_col
        .booking_area
          - if @offering.bookable?
            = form_for Booking.new(:offering => @offering) do |f|
              = f.hidden_field :offering_id
              .booking_box
                .pricing
                  - if @offering.availability == 'instant'
                    Book now
                  - else
                    Offer a Gig
                .availability
                  .form-group
                    - if @offering.availability == 'instant'
                      %label Payment
                    - else
                      %label Proposed Fee

                    .input-group
                      %input(type="hidden" name="booking[price_attributes][currency]" v-model="currency")
                      .input-group-addon {{symbolForCurrency()}}
                      %input.form-control(v-model = "amount" name="booking[price_attributes][take]")
                      .input-group-addon {{currency}}
                      .input-group-btn
                        .btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                          .caret
                        %ul.dropdown-menu.dropdown-menu-right
                          - Price::CURRENCIES.keys.each do |currency|
                            %li
                              %a{:href => '#', 'v-on:click.prevent' => "$set('currency', '#{currency}')"}= currency
                  .more_information
                    %i.fa.fa-caret-right.less_fields
                    %i.fa.fa-caret-down.more_fields
                    More Info
                  .more_fields
                    .form-group
                      %label Event Date
                      %input.datepicker.form-control{:value => 4.weeks.from_now.strftime("%Y-%m-%d"), :name => 'booking[start_at]'}
                  :coffee
                    $('.more_information').click -> $('.more_fields, .less_fields').toggle()
                .action
                  - if @offering.availability == 'instant'
                    = javascript_include_tag 'https://checkout.stripe.com/checkout.js'
                    .btn.btn-primary.btn-lg.instant_book= t("Book now")
                  - else
                    %button.btn.btn-primary.btn-lg= t("Request Booking")
          - else
            .booking_box
              .pricing No contact
              .availability
                %p 
                  This artist has no contact information and can not
                  be booked.
                %p
                  Are you #{@offering.actionable_name}? Please consider joining
                  our platform to receive booking requests through Audissey.
                  - if current_user
                    = link_to "Manage #{@offering.actionable_name}", edit_offering_path(@offering, :control_offering_id => @offering.id) 
                  - else
                    = link_to "Sign up as #{@offering.actionable_name}", new_user_registration_path(:control_offering_id => @offering.id) 
          .problems
            = link_to t('Report a problem'), page_path('contact')
            
- if @offering.availability == 'instant'
  = form_tag Purchase.new, :id => 'instant_book_form' do |f|
    = hidden_field_tag :offering_id, @offering.id
    = hidden_field_tag :gateway, 'stripe'
    = hidden_field_tag :amount, ''
    = hidden_field_tag :currency, ''
    = hidden_field_tag :date, ''
    = hidden_field_tag :email
    = hidden_field_tag :stripeToken
  :coffee
    delay 2000, ->
      handler = StripeCheckout.configure
        key: #{ENV['STRIPE_PUBLIC_KEY'].to_json}
        image: #{asset_path('logo_square.png').to_json}
        name: #{@offering.actionable_name.to_json}
        description: 'Booking via audissey.fm'
        'allow-remember-me': false
        locale: #{I18n.locale.to_json}
        email: #{(current_user ? current_user.email : nil).to_json}
        token: (token) ->
          console.log token
          $('#instant_book_form [name=amount]').val booking_vue.$get('amount')
          $('#instant_book_form [name=currency]').val booking_vue.$get('currency')
          $('#instant_book_form [name=date]').val booking_vue.$get('date')
          $('#instant_book_form [name=stripeToken]').val token.id
          $('#instant_book_form [name=email]').val token.email
          $('#instant_book_form').submit()
      $('.instant_book').click (e) ->
        handler.open
          amount: booking_vue.$get('amount')
          currency: booking_vue.$get('currency')
        e.preventDefault()
:coffee


  currencies = #{Price::CURRENCIES.to_json}
  window.booking_vue = new Vue
    el: '.booking_area'
    data:
      location: '#{params[:location]}' || 'Tokyo'
      amount: '#{params[:amount]}' || 50000
      currency: '#{params[:currency]}' || 'JPY'
      date: '#{params[:date]}' || '#{4.weeks.from_now.strftime("%Y-%m-%d")}'
      symbol: ''
    methods:
      symbolForCurrency: ->
        currencies[this.$get('currency')].symbol
      allGood: ->
        this.$get('location') && this.$get('amount') && this.$get('currency') && this.$get('date')
