.section.sign_up
  .container
    %h1 Getting closer
    %p Join the world wide network of professionals in the event business
  .container.form
    .left_side
      = form_for(resource, as: resource_name, url: user_registration_path) do |f|
        - resource.errors.full_messages.each do |msg|
          .error= msg
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, :class => 'form-control'
        .form-group
          = f.label :password
          = f.password_field :password, autocomplete: "off", :class => 'form-control'
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control'
        = f.submit "Complete Sign Up", :class => 'btn btn-primary'
        .links
          = link_to t("Already have an account? Log in."), new_session_path(resource_name)
    .right_side
      - if devise_mapping.omniauthable?
        - resource_class.omniauth_providers.each do |provider|
          = link_to omniauth_authorize_path(resource_name, provider), :class=>"provider #{provider}" do
            %i{:class=>"fa fa-#{provider}"}
            %span Sign up with Facebook
    .divider
      %span Or
    
