.section.landing_head
  .container
    .big= t '.tagline'
    .small= t '.tagline2'
    -# %p
    -#   %i.fa.fa-play
    -#   = t '.explain'
  -# .search_box
  -#   .contfainer<
  -#     %span.part.first>= t "I'm looking for"
  -#     %select.part.select2.category(name="category" data-search="false")= options_from_collection_for_select(Category.all, :id, :name)
  -#     %span.part.event>= t 'for an event on'
  -#     %input.part.datepicker>
  -#     %button= t 'Search'
  .bottom
    = link_to t('.join_now'), new_user_registration_path, :class => 'get_started btn btn-lg btn-primary'
    .more
      = t 'Browse'
      %br
      .caret

.section.featured_bookable
  .container
    .row
      - @performers.each do |performance|
        .col-sm-6.col-md-4
          .embed-responsive.embed-responsive-4by3.offering_cell
            = link_to nice_offering_url(performance.url_fragment) do
              .offering.embed-responsive-item{:style => "background-image: url(#{performance.image&.thumb('400x300#')&.url})"}
                .gradient
                .details
                  .pic_circle
                    - if performance.profile_image
                      .pic_image{:style => "background-image: url(#{performance.profile_image.thumb('74x74#').url})"}
                  .name
                    = performance.name
                  .pricing
                    %span.category
                      %span.category-icon{:class => performance.category_id} 
                      #{performance.category.name}
-# .section.call_to_actions
-#   .container
    
-#     %h1= t('.for_djs')
-#     = t('.for_djs_html')
-#     %p
-#       = link_to t('.list_a_dj'), new_user_registration_path, :class => 'btn btn-lg btn-primary'
      -# .col-sm-6.for_events
      -#   %h1= t('.for_events')
      -#   = t('.for_events_html')
      -#   %p
      -#     = link_to t('.list_an_event'), new_user_registration_path, :class => 'btn btn-lg btn-primary'
    -# .others
    -#   = t('.other_services')
    -#   = link_to t('.find_out_more'), page_path('services')
-# .section.statistics
-#   .container
-#     %h1= t '.statistics'
-#     = t '.earnings_till_date'
-#     - @totals.each do |currency, amount|
-#       .total
-#         %strong= nice_price Price.new(:currency => currency, :take => amount)
-#     = t '.earnings_till_date2'      
-# .section.featured_events
-#   .container
-#     %h1= t '.upcoming_tagline'
-#     %h2= t '.upcoming_tagline2'
-#     .row
-#       - @brands.each do |brand|
-#         .col-xs-12
-#           = link_to nice_brand_url(brand.url_fragment) do
-#             .event_brand{:style => "background-image: url(#{brand.image&.thumb('600x250#')&.url})"}
-#               .gradient
-#               .details
-#                 .name
-#                   = brand.name
    
    
