.section.landing_head
  .container
    .big= t '.tagline'
    .small= t '.tagline2'
    %p
      %i.fa.fa-play
      = t '.explain'
  -# .search_box
  -#   .contfainer<
  -#     %span.part.first>= t "I'm looking for"
  -#     %select.part.select2.category(name="category" data-search="false")= options_from_collection_for_select(Category.all, :id, :name)
  -#     %span.part.event>= t 'for an event on'
  -#     %input.part.datepicker>
  -#     %button= t 'Search'
  .bottom
    = link_to t('.join_now'), new_user_registration_path, :class => 'get_started btn btn-lg btn-primary'
    .more
      = t 'Browse'
      %br
      .caret
      

:coffee
  $('.landing_head .big').css 'marginTop': $(window).height() / 4.5 * 0.7
  $('.landing_head').css height: $(window).height() * 0.7
.section.featured_bookable
  .container
    %h1= t '.featured_tagline'
    %h2= t '.featured_tagline2'
    .row
      - @performers.each do |performance|
        .col-sm-6.col-md-4
          .embed-responsive.embed-responsive-4by3
            = link_to performance do
              .offering.embed-responsive-item{:style => "background-image: url(#{performance.image&.thumb('400x300')&.url})"}
                .gradient
                .details
                  .pic_circle
                    - if performance.profile_image
                      .pic_image{:style => "background-image: url(#{performance.profile_image.thumb('74x74#').url})"}
                  .name
                    = performance.actionable_name
                  .pricing
                    %span.category
                      %span.category-icon{:class => performance.category_id} 
                      #{performance.category.name},
                    = t('Flexible Pricing')
.section.about_audissey
  .container
    %h1= t '.about_audissey_header'
    = t '.about_audissey_html'
.section.call_to_actions
  .container
    .row
      .col-sm-6
        %h1= t('.for_djs')
        = t('.for_djs_html')
        %p
          = link_to t('.post_a_dj'), new_user_registration_path, :class => 'btn btn-lg btn-primary'
      .col-sm-6
        %h1= t('.for_events')
        = t('.for_events_html')
        %p
          = link_to t('.post_an_event'), new_user_registration_path, :class => 'btn btn-lg btn-primary'
    .others
      = t('.other_services')
      = link_to t('.find_out_more'), page_path('services')
.section.featured_events
  .container
    %h1= t '.upcoming_tagline'
    %h2= t '.upcoming_tagline2'
    %p= t 'Nothing here. Check back soon.'
