= form_for :new_booking do |f|
  .section.new_booking
    .container
      %h1 New Contract with #{@offering.actionable_name}
      %p Make an inquiry with flexible pricing
      .row
        .col-sm-6
          .form-group
            %label City or Venue
            %input.form-control(v-model="location" name="location")
        .col-sm-6
          .form-group
            %label Date of event
            %input.datepicker.form-control(name="date" v-model="date")
      .row
        .col-sm-6
          .form-group
            %label Budget
            .input-group
              %input(type="hidden" v-model="currency")
              %input.form-control(v-model = "amount" name="amount")
              .input-group-addon {{currency}}
              .input-group-btn
                .btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                  .caret
                %ul.dropdown-menu.dropdown-menu-right
                  - Price::CURRENCIES.each do |currency|
                    %li
                      %a{:href => '#', 'v-on:click.prevent' => "$set('currency', '#{currency}')"}= currency
        .col-sm-6
          - if @offering.category_id == 'performer'
            %p Note: You are responsible for covering transportation and lodging for the performer.
      .actions
        = f.submit "Send Inquiry", :class => 'btn btn-primary btn-lg', ':disabled' => '!allGood()'

:coffee
  new Vue
    el: '.new_booking'
    data:
      location: '#{params[:location]}' || 'Tokyo'
      amount: '#{params[:amount]}' || 50000
      currency: '#{params[:currency]}' || 'JPY'
      date: '#{4.weeks.from_now.strftime("%Y-%m-%d")}'
    methods:
      allGood: ->
        this.$get('location') && this.$get('amount') && this.$get('currency') && this.$get('date')
