.container

  .row
    .col-sm-4.nav-col
      Pending:
      %ul.nav.nav-pills.nav-stacked
        - current_user.bookings.each do |booking|
          %li{:class => @booking == booking ? 'active' : ''}
            = link_to "Booking #{booking.offering.actionable_name}", booking
    .col-sm-8
      .booking_status

        .amount Payment: #{nice_price(@booking.price)}
        .received
          Payment received:
          - if @booking.payment_received?
            Yes
          - else
            No
        - if !@booking.payment_received?
          .confirmation
            - if @booking.user_id == current_user.id
              - if @booking.offerer_confirmed_at && @booking.buyer_confirmed_at
                Confirmed
                = form_tag Purchase.new do |f|
                  = hidden_field_tag :price_id, @booking.price.id
                  = hidden_field_tag :gateway, 'stripe'
                  %script(src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="#{ENV['STRIPE_PUBLIC_KEY']}"
                    data-locale="#{I18n.locale}"
                    data-email="#{current_user.email}"
                    data-image="#{asset_path('logo_square.png')}"
                    data-name="#{@booking.offering.actionable_name}"
                    data-amount="#{@booking.price.take}"
                    data-currency="#{@booking.price.currency}"
                    data-description="Booking via audissey.fm"
                    data-allow-remember-me="false"
                    )
                - if false # disable webpay for now
                  = form_tag Purchase.new do |f|
                    = hidden_field_tag :price_id, @booking.price.id
                    = hidden_field_tag :gateway, 'webpay'
                    %script(src="https://checkout.webpay.jp/v3/"
                      class="webpay-button"
                      data-key="#{ENV['WEBPAY_PUBLIC_KEY']}"
                      data-lang="#{I18n.locale}")
              - else
                This booking is not confirmed. Please wait until #{@booking.offering.actionable_name} confirmed.
            - if @booking.offering.user_id == current_user.id
              - if @booking.offerer_confirmed_at
                You confirmed
              - else
                Everything good? Please confirm in order to receive payment.
                = link_to 'Confirm', booking_path(@booking, :confirm => true), :method => 'PUT'
      .messages_area
        .old_messages
          = render @booking.messages
            
        .new_message
          = form_for @booking.messages.new, :remote => true do |f|
            = f.hidden_field :topicable_id 
            = f.hidden_field :topicable_type
            = f.text_area :text, :placeholder => 'Your Message', :class => 'form-control'
            = f.submit "Send", :class => 'btn btn-primary'
            
:coffee
  $('#new_message').on 'submit', ->
    delay 10, -> 
      $('#new_message textarea').attr('disabled', true)
      $('#new_message input').attr('disabled', true)
  window.resetMessages = ->
    $('#new_message textarea').attr('disabled', false).val('')
    $('#new_message input').attr('disabled', false)
  # TODO: Set message area height to window height

:coffee
  # TODO: Real Time messaging with vuejs & websockets
  new Vue
    el: '.messages_area'
    data:
      messages: #{@booking.messages.to_json}
