- if @show_guide
  .section.dashboard_guide
    .container
      %h1 Let's get started.
      = link_to 'Offer your services', new_offering_path, :class => 'btn btn-lg btn-primary'
      or browse our listings

- else
  .section.dashboard
    .container
      - if current_user.offerings.any?
        .offerings
          %h3 Offerings:
          - current_user.offerings.each do |offering|
            = link_to offering.actionable_name, offering
            = link_to edit_offering_path(offering) do
              %i.fa.fa-edit
      
      
      .bookings
        %h3 Bookings in Progress
        - if @all_bookings.empty?
          Nothing yet
        - @all_bookings.each do |booking|
          .booking
            = link_to booking.offering.actionable_name, booking
            
        %h3 Paid & Confirmed Bookings
        - if @purchased_bookings.empty?
          Nothing yet.
        - @purchased_bookings.each do |booking|
          .booking
            = link_to booking do
              #{booking.created_at}: #{nice_price(booking.purchase.price_json)}

      .balances
        %h3 Balances
        - @balances.each do |currency, amount|
          #{nice_price(:currency => currency, :take => amount)}
        .payout
          = link_to 'Request Payout', '#'
