!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:property=>"og:url", :content=>"http://audissey.fm"}
    %meta{:property=>"og:type", :content=>"website"}
    %meta{:property=>"og:title", :content=>"audissey"}
    %meta{:property=>"og:description", :content=>"audissey"}
    %meta{:property=>"og:image", :content=>"http://audissey.fm/logo.png"}
    %title Audissey.fm
    = stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = javascript_include_tag '//cdn.jsdelivr.net/momentjs/latest/moment.min.js'

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:class => "#{params[:controller]} #{params[:action]}"}
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand
            -# = image_tag 'logo.png', :height => '22'
            .logo_normal
              = link_to image_tag('audisseylogo.png'), root_url
            .logo_inverted
              = link_to image_tag('audisseylogo_inverted.png'), root_url
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            - if current_user.offerings.empty?
              %li= link_to "Offer a service", new_offering_path
            - else
              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown") Offerings
                %ul.dropdown-menu
                  - current_user.offerings.each do |offering|
                    %li= link_to offering.actionable_name, edit_offering_path(offering)
            %li= link_to 'Messages', dashboard_path
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown")
                = current_user.display_name
              %ul.dropdown-menu
                %li= link_to 'Dashboard', dashboard_path
                %li= link_to 'Logout', destroy_user_session_path, :method => 'delete'
          - else
            %li= link_to 'Log In', new_user_session_path
    #content
      - if flash[:notice]
        .container
          .notice= flash[:notice]
      - if flash[:alert]
        .container
          .notice= flash[:alert]
      = yield

    #footer
      .settings
        .container
          .dropdown
            %button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
              %i.fa.fa-language
              = t I18n.locale
              %span.caret
            %ul.dropdown-menu
              - I18n.available_locales.each do |locale|
                %li= link_to t(locale), params.merge(:locale => locale)
          .dropdown
            %button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
              %i.fa.fa-money
              JPY
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'JPY', params
          .dropdown
            %button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
              %i.fa.fa-globe
              UTC
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'UTC', params

      .links
        .container
          .row
            .col-sm-2.logo
              = link_to image_tag('logo_square_inverted.png'), root_url
            .col-sm-2
              %p= link_to 'Facebook', 'http://facebook.com/audisseyofficial'
            .col-sm-4
              %p
                %strong Company
              %p Mission Statement
              %p Team
              %p Jobs
              %p Partners
              %p Investor Relations
            .col-sm-4
              %p
                %strong Support
              %p User Guide
              %p Contact
              %p Terms & Conditions
      .copyright
        .container
          © #{Time.now.year} audissey, All Rights Reserved
