!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:property=>"og:url", :content=>"http://audissey.fm"}
    %meta{:property=>"og:type", :content=>"website"}
    %meta{:property=>"og:title", :content=>"audissey"}
    %meta{:property=>"og:description", :content=>"audissey"}
    %meta{:property=>"og:image", :content=>"http://audissey.fm/logo.png"}
    %title Audissey.fm
    = stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = javascript_include_tag '//cdn.jsdelivr.net/momentjs/latest/moment.min.js'

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:class => "#{params[:controller]} #{params[:action]}"}
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand
            -# = image_tag 'logo.png', :height => '22'
            .logo_normal
              = link_to image_tag('audisseylogo.png'), root_url
            .logo_inverted
              = link_to image_tag('audisseylogo_inverted.png'), root_url
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            - if current_user.offerings.empty?
              %li= link_to "Offer a service", new_offering_path
            - else
              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown")
                  %i.fa.fa-bookmark-o
                  Listings
                %ul.dropdown-menu
                  - current_user.offerings.each do |offering|
                    %li
                      = link_to edit_offering_path(offering) do
                        .category-icon{:class => offering.category_id}
                          = offering.actionable_name
                  %li.divider  
                  %li
                    = link_to new_offering_path do
                      %i.fa.fa-plus
                      = t('.new_listing')
                    = link_to new_brand_path do
                      %i.fa.fa-plus
                      = t('.new_event')
                        
            %li
              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown")
                  %i.fa.fa-envelope-o
                  Messages
                %ul.dropdown-menu
                  - current_user.pending_bookings.each do |pending_booking|
                    %li
                      = link_to booking_path(pending_booking) do
                        .category-icon{:class => pending_booking.offering.category_id}
                          = pending_booking.offering.actionable_name
                          on
                          = event_date(pending_booking.start_at)
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown")
                = current_user.display_name
                .pic_circle
                  - if current_user.image
                    .pic_image{:style => "background-image: url(#{current_user.image.thumb('64x64#').url})"}
              %ul.dropdown-menu
                %li= link_to 'Dashboard', dashboard_path
                %li= link_to 'Logout', destroy_user_session_path, :method => 'delete'
          - else
            %li= link_to 'Log In', new_user_session_path
    #content
      - if flash[:notice]
        .flash.notice
          .container= flash[:notice]
      - if flash[:alert]
        .flash.notice
          .container= flash[:alert]
      = yield

    #footer
      .settings
        .container
          .social
            = link_to 'http://twitter.com/rngmstrs', :target => '_blank' do
              %i.fa.fa-twitter-square
            = link_to 'http://facebook.com/audisseyofficial', :target => '_blank' do
              %i.fa.fa-facebook-square
          .dropdown
            %button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
              %i.fa.fa-language
              = t I18n.locale
              %span.caret
            %ul.dropdown-menu
              - ['en', 'ja'].each do |locale|
                %li= link_to t(locale), params.merge(:locale => locale)
          .dropdown
            %button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
              %i.fa.fa-money
              JPY
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'JPY', params
          .dropdown
            %button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
              %i.fa.fa-globe
              = Time.zone
              %span.caret
            %ul.dropdown-menu
              - ['UTC', 'London', 'Berlin', 'Tokyo'].each do |tz|
                %li= link_to ActiveSupport::TimeZone[tz], params.merge(:tz => tz)

      .links
        .container
          .row
            .col-sm-2.logo
              = link_to image_tag('logo_square_inverted.png'), root_url
            .col-sm-2

            .col-sm-4
              %p
                %strong Company
              %p= link_to t('Mission Statement'), page_path('mission')
              %p= link_to t('Team'), page_path('team')
              %p= link_to t('Jobs'), page_path('jobs')
              %p Partners
            .col-sm-4
              %p
                %strong Support
              %p= link_to t('User Guide'), page_path('guide')
              %p= link_to t('Contact'), page_path('contact')
              %p= link_to t('Terms And Conditions'), page_path('terms')
              %p Privacy Policy
      .copyright
        .container
          © #{Time.now.year} audissey, All Rights Reserved
